@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0 ;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #fff;
}


.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f24822; 
    padding: 15px 40px;
    height: 43px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nome-logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-right: 0px;
}

.porquinho-logo {
    height: 42px;
    margin-top: 0px;
    justify-items: start;

}

.rodape-nav {
    display: flex;
    justify-content: end;
}

nav a {
    margin: 0px 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}


.banner {
    position: relative;
    text-align: left;
    background-image: url(../img/img-banner.png);
    padding: 0;
    height: 600px;
    overflow: hidden;
    
}

.img-banner {
    width: 100%;
    height: 600px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner h3 {
    position: absolute;
    top: 50px;
    left: 60px;
    font-size: 48px;
    font-weight: bold;
    z-index: 2;
    color: white;
}

.banner p {
    position: absolute;
    top: 110px;
    left: 60px;
    font-size: 24px;
    z-index: 2;
}

.subtitulo-banner {
    position: absolute;
    top: 170px;
    left: 60px;
    font-size: 24px;
    color: white;
}

.bigbank-sobre {
    color: #F23E02;
    font-size: 40px;
}

.sobre {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 70px;
    margin-left: 50px;
}

.text-do-sobre{
    margin-right: 50px;
}

.img-parte-sobre{
    width: 500px;
    margin-right: 20px;
}

.txt-sobre {
    text-align: left;
    color: black;
    padding: 30px;
    font-size: 24px;
    width: 500px;
}

.bigbank-sobre{
    text-align: center;
    font-weight: bold;
}

.img-parte-objetivo {
    align-items: left;
    width: 500px;
    margin-left: 100px;
}

.objetivo{
    display: flex;   
    flex-direction: row-reverse;
    padding: 35px;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.obj-quadrado{
    background-color: #F23E02;
    width: 500px;
    height: 250px;
    font-weight: bold;
    justify-content: center;
}

.txt-obj{
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 30px;;
}

.importancia{
    margin-top: 75px;
    display: flex;
    justify-content: space-around;
}


.titulo-importancia {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}

.txt1-importancia {
color: white;
    background-color: #F23E02;
    width: 490px;
    height: 80px;
    padding: 15px;
    justify-content: center;
    flex-direction: row;
}

.txt2-importancia{
    color:white;
    background-color: #F23E02;
    width: 510px;
    height: 80px;
    padding: 15px;
    justify-content: center;
    flex-direction: row;
}

.botao-final{
    text-align: center;
    text-decoration: none;
}

.rodape{
    color: white;
    background-color: #F23E02;
    padding: 0;
}

p .home, .transferencia, .login, .cadastro {
    text-align: right;
    flex-direction:left;
}

p .contato, .email{
    text-align: start;
    color:white ;
}
