@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0 ;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Obrigatório para funcionar */
}

.flash {
    border: 10px solid #F23E02;
    border-radius: 45px;
}

.rodape {
    margin-bottom: 0px; /* garante que o rodapé fique no final */
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f24822;
    padding: 15px 40px;
    height: 43px;
}
.flash-messages {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}

.nome-logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-right: 0px;
}

.porquinho-logo {
    height: 42px;
    margin-top: 0px;
    justify-items: start;

}

nav a {
    margin: 0px 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

nav a:hover {
    text-decoration: none;
}

section {
    display: flex;
    justify-content: center;
}

section img {
    width: 450px
}

form input{
    border-radius: 100px;
    width: 280px;
    height: 20px;
    padding: 5px;
    border: none;
    box-shadow: #A8A8A8 0px 4px 5px;
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    justify-self: center;
}

button {
    background-color: #F23E02FF;
    color: white;
    border-radius: 20px;
    padding: 10px;
    border: none;
}

a {
    color:#F23E02FF;
    text-decoration: none;
}

h2 {
    font-size: 60px;
    padding: 10px;
}

.rodape {
    margin-top: auto;
    background-color: #F23E02;
    color: white;
    padding-left: 20px;
}
.rodape nav {
    display: flex;
    align-self: flex-start;
    justify-content: end;
    flex-direction: row;
    text-decoration: none;
}