@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0 ;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

body {
    background-color: #fff;
}


.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-principal);
    padding: 15px 40px;
    height: 43px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nome-logo {
    margin-left: 10px;
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-right: 0px;
}

.porquinho-logo {
    height: 42px;
    margin-top: 0px;
    justify-items: start;
}
nav a {
    margin: 0px 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}


.banner {
    position: relative;
    text-align: left;

    padding: 0;
    overflow: hidden;
    justify-items: center;
}

.img-banner {
    width: 1519.2px;
    max-width: 1519.2px;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh; /* ou a altura desejada do banner */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinha no topo verticalmente */
}

.texto-banner {
    position: absolute;
    top: 15%; /* Ajuste este valor para mover mais para cima ou para baixo */
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.titulo-banner {
    font-size: 70px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
}

.subtitulo-banner {
    font-size: 40px;
    color: white;
    margin-top: 20px;
}


.bigbank-sobre {
    color: var(--cor-principal);
    font-size: 40px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    justify-self: start;
}

.sobre {
    margin-bottom: 0px; /* garante que o rodapé fique no final */
    display: flex;
    flex-direction: column;
    border-radius: 45px;
    justify-self: center;
    margin-bottom: 100px;
}

.text-do-sobre{
    display: flex;
    flex-direction: row;
    padding: 3px;
}

.img-parte-sobre{
    width: 525px;
    height: 350px;
    margin-right: 20px;
    border-radius: 45px;
    margin: 15px;
    align-items: end;
}


.importancia{
    margin-top: 75px;
    display: flex;
    justify-content: space-around;
    border-radius: 45px;
}


.titulo-importancia {
    color: var(--cor-principal);
    font-size: 20px;
    font-weight: bold;
}

.txt{
    font-size: 30px;
    width: 460px;
    justify-content: space-around;
    justify-items: flex-end;
    align-items: center;
    align-self: center;
}

.txt2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    width: 460px;
}

.txt3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    width: 460px;
    margin-left: 100px;
}


.txt2 p {
    margin-bottom: 30px; /* Espaçamento apenas após o parágrafo */
}

.rodape {
    margin-top: auto;
    background-color: var(--cor-principal);
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.rodape nav {
    display: flex;
    align-self: flex-start;
    justify-content: end;
    flex-direction: row;
    text-decoration: none;
}
