@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0 ;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

body {
    background-color: #fff;
}


.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f24822;
    padding: 15px 40px;
    height: 43px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nome-logo {
    margin-left: 10px;
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-right: 0px;
}

.porquinho-logo {
    height: 42px;
    margin-top: 0px;
    justify-items: start;
}
nav a {
    margin: 0px 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}


.banner {
    position: relative;
    text-align: left;
    background-image: url(../img/banner.png);
    padding: 0;
    overflow: hidden;
    justify-items: center;
    height: 691.025px;
}

.img-banner {
    width: 1519.2px;
    max-width: 1519.2px;
}

.banner h3 {
    position: relative;
    font-size: 48px;
    font-weight: bold;
    color: white;
    font-size: 70px;
}

.banner p {
    width: 175%;
    top: -10px;
    position: relative;
}

.texto-banner {
    position: absolute;
    color: white;
}

.titulo-banner {
    position: absolute;
    left: 0;
    font-size: 70px;
    color: white;
    text-align: center;
    padding: 30px;
}

.subtitulo-banner {
    position: absolute;
    left: 0;
    font-size: 40px;
    color: white;
    text-align: center;
    padding-left: 30px;
}


.bigbank-sobre {
    color: #f24822;
    font-size: 40px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    justify-self: start;
}

.sobre {
    margin-bottom: 0px; /* garante que o rodapé fique no final */
    display: flex;
    flex-direction: column;
    border-radius: 45px;
    justify-self: center;
    margin-bottom: 100px;
}

.text-do-sobre{
    display: flex;
    flex-direction: row;
    padding: 3px;
}

.img-parte-sobre{
    width: 525px;
    height: 350px;
    margin-right: 20px;
    border-radius: 45px;
    margin: 15px;
    align-items: end;
}


.importancia{
    margin-top: 75px;
    display: flex;
    justify-content: space-around;
    border-radius: 45px;
}


.titulo-importancia {
    color: #f24822;
    font-size: 20px;
    font-weight: bold;
}

.txt {
    font-size: 30px;
    width: 460px;
    align-self: center;
    text-align: center;
}

.rodape {
    margin-top: auto;
    background-color: #f24822;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.rodape nav {
    display: flex;
    align-self: flex-start;
    justify-content: end;
    flex-direction: row;
    text-decoration: none;
}