@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0 ;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Obrigatório para funcionar */
}

a {
    text-decoration: none;
    color: #000;
}

.flash {
    border: 10px solid #f24822;
    border-radius: 45px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f24822;
    padding: 15px 40px;
    height: 43px;
}
.flash-messages {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}

.botoes-pag-usuario {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    text-decoration: none;
    font-size: 30px;
}

.botao_perfil {
    background-color:#fff;
    box-shadow: #A8A8A8 0px 0px 10px;
    border-radius: 45px;
    padding: 20px;
    align-self: center;
    max-height: 175px;
    max-width: 200px;
    min-width: 200px;
    display: flex;          /* Adiciona flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    flex-direction: column; /* Organiza os itens em coluna */
    min-height: 350px;
    margin-bottom: 30px;
}

.imagem-card {
    text-align: center;
}

a img {
    margin: 0 auto;    /* Centraliza a imagem */
    display: block;
    max-height: 128px;
}

.imagem-card img {
    margin-bottom: 70px;
}

h2 {
    font-size: 60px;
    padding: 10px;
}

.cofig {
    justify-items: flex-start;
}

.nome-logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-right: 0px;
}

.porquinho-logo {
    height: 42px;
    margin-top: 0px;
    justify-items: start;

}

nav a {
    margin: 0px 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

nav a:hover {
    text-decoration: none;
}

.nome-de-usuario {
    display: flex;
    justify-items: flex-start;
    margin-top: 20px;
    margin-left: 20px;
}

.username {
    display: flex;
    font-size: 40px;
    justify-self: center;
    align-items: center;
}
