@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0 ;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f24822; 
    padding: 15px 40px;
    height: 43px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nome-logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-right: 0px;
}

.porquinho-logo {
    height: 42px;
    margin-top: 0px;
    justify-items: start;

}

.rodape-nav {
    display: flex;
    justify-content: end;
}

nav a {
    margin: 0px 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 40px;
    justify-content: center;
    margin: 50px;
}

form {
    width: 100px;
    height: 20px;
    justify-content: center;
    margin: 30px;
    border-radius: 20px;
    box-shadow: lightgrey;
}

.entrar {
    background-color: #F23E02;
    color: white;
    text-decoration: none;
}

.nao-membro {
    color: #F23E02;
    justify-content: center;
}

.rodape{
    color: white;
    background-color: #F23E02;
    padding: 0;
}

p .home, .transferencia, .login, .cadastro {
    text-align: right;
    flex-direction:left;
}

p .contato, .email{
    text-align: start;
    color:white ;
}