<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/cadastro.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Transferência - BigBANK</title>
</head>
<body>
    <div class="cabecalho">
        <div class="logo">
            <h2 class="nome-logo"> BIGBANK </h2>
            <img class="porquinho-logo" src="../static/img/logo-porquinho.png" alt="Logo do Site">
        </div>
        <nav>
            <a href="/" class="home"> Home </a>
            <a href="/inicial_usuario" class="transferencias"> Usuário </a>
            <a href="/login" class="login"> Login </a>
            <a href="/cadastro" class="cadastro"> Cadastro </a>
            {% if 'usuario_cpf' in session %}
            <a href="/logout" class="deslogar">Deslogar</a>
            {% endif %}
        </nav>
    </div>

    <div>
        <form method="POST" action="/editar_transferencia/{{ transferencia.codigo }}">
            <h2 class="titulo">Editar Transferência</h2>
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for message in messages %}
                            <div class="flash-message">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <input type="date" name="data" placeholder="Data" value="{{ data }}" required><br>
            
            <input type="text" name="entrada_saida" placeholder="Origem da Transação" value="{{ transferencia.entrada_saida }}" required><br>

            <input type="number" name="valor" step="0.01" placeholder="Valor" value="{{ transferencia.valor }}" required><br>

            <button type="submit">Salvar Alterações</button>
            <a href="/historico_transferencia" class="cancelar">Cancelar</a>
        </form>
    </div>

    <footer class="rodape">
        <h2 class="nome-logo"> BIGBANK </h2>
        <nav>
            <a href="/" class="home"> Home </a>
            <a href="/historico_transferencia" class="transferencias"> Transferências </a>
            <a href="/login" class="login"> Login </a>
            <a href="/cadastro" class="cadastro"> Cadastro </a>
        </nav>
        <p class="contato"> Contato: (18) 99139-1404</p>
        <p class="email"> Email: contato@bigbank.com.br </p>
    </footer>
</body>
</html>