<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../static/css/transferencia.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BigBANK</title>
</head>

<div>



    <div class="cabecalho">

        <div class="logo">
            <h2 class="nome-logo"> BIGBANK </h2>
            <img class="porquinho-logo" src="static/img/logo-porquinho.png" alt=" Logo do Site ">
        </div>

        <nav>
            <a href="/" class="home"> Home </a>
            <a href="/inicial_usuario" class="transferencias"> Transferencias </a>
            <a href="/abrir_login" class="login"> Login </a>
            <a href="/cadastro" class="cadastro"> Cadastro </a>
        </nav>
    </div>

    <div class="titulo">
        <h2>Histórico de transferências</h2>    
    </div>
    
    <div class="saldo-total">
        <div> Saldo total</div>
        <p>R$ 0,16</p>
    </div>

    <div class="container">
    <h3>Entrada</h3>    

    <a class="botao" href="/adicionar_transferencia">+ Adicionar Transferencia</a>

    <table>
        {% for transferencia in transferencias %}
        <tr>
            <td>{{ transferencia[1] }}</td>
            <th>{{transferencia[2]}}</th>
            <th>{{transferencia[3]}}</th>
            <th>{{transferencia[4]}}</th>
        </tr>

    </table>

        <div class="editar-excluir">
        <a class="botao pequeno" href="/editar_transferencia/{{ transferencia[0] }}"><img src="..static/img/lapis.png" ></a>
        <a class="botao vermelho pequeno" href="/apagar_transferencia/{{ transferencia[0] }}"><img src="..static/img/lixo.png"></a>
        </div>
        {% endfor %}
    </div>


    <footer class="rodape">


        <h2 class="nome-logo"> BIGBANK </h2>

        <nav class="rodape-nav">
            <a href="/" class="home" > Home </a>
            <a href="/perfil" class="transferencias" > Transferencias </a>
            <a href="/login" class="login" > Login </a>
            <a href="/cadastro" class="cadastro" > Cadastro </a> 
        </nav>

        <p class="contato"> Contato: (18) 99139-1404</p>
        <p class="email"> Email: contato@bigbank.com.br</p>
        

    </footer>


</body>
</html>
