<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/index.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BigBANK</title>
</head>

<body>



    <div class="cabecalho">

        <div class="logo">
            <h2 class="nome-logo"> BIGBANK </h2>
            <img class="porquinho-logo" src="../static/img/logo-porquinho.png" alt=" Logo do Site ">
        </div>
    

        <nav>
            <a href="/" class="home"> Home </a>
            <a href="/inicial_usuario" class="transferencias"> Usuário </a>
            <a href="/login" class="login"> Login </a>
            <a href="/cadastro" class="cadastro"> Cadastro </a>
        </nav>
    </div>

    <div class="banner">
        <div class="subtitulo-banner">
            <h3> Seu Futuro Em Ordem </h3>
            <p class="subtitulo-banner"> Gerencie suas finanças na BigBank</p>
        </div>
        <img class="img-banner" src="../static/img/banner.png" alt="Imagem do Banner">
    </div>

    <br>
    <br>

    <div class="sobre">
        <p class="bigbank-sobre"> Sobre Nós </p>
        <div class="text-do-sobre">
            
            <p class="txt-sobre"> A BigBank é focada em auxiliar o controle das receitas pessoais e empresariais dos nossos clientes, oferecendo ferramentas de gestão intuitivas e suporte personalizado para promover uma administração mais eficiente, segura e inteligente dos recursos financeiros. </p>
            <img class="img-parte-sobre" src="../static/img/img-sobre.png" alt="">
        </div>
    </div>


    <div class="sobre">
        <p class="bigbank-sobre"> Nosso Objetivo</p>
        <div class="text-do-sobre">
            <img class="img-parte-sobre" src="../static/img/img-objetivo.png" alt="">
            <p class="txt-sobre"> Nosso principal objetivo é facilitar o seu dia a dia financeiro, proporcionando
            ferramentas e suporte para uma gestão financeira mais organizada e eficaz. </p>
        </div>
    </div>

    <div class="sobre">
        <p class="bigbank-sobre">A importância de ter controle de suas finanças</p>
        <div class="text-do-sobre">
            <p class="txt-sobre"> Ao manter um registro detalhado e atualizado, você tem mais segurança econômica, preparação para imprevistos e garantir uma base sólida para alcançar metas financeiras.
            </p>
            <p class="txt-sobre"> Com o BigBank, é possível controlar gastos, planejar orçamentos, evitar dívidas,
                identificar as melhores fontes de renda e tomar decisões financeiras mais conscientes, tanto pessoalmente
                quanto em negócios</p>
        </div>
    </div>


    </section>


    <footer class="rodape">


        <h2 class="nome-logo"> BIGBANK </h2>

        <nav class="rodape-nav">
            <a href="/" class="home" > Home </a>
            <a href="/perfil" class="transferencias" > Usuário </a>
            <a href="/login" class="login" > Login </a>
            <a href="/cadastro" class="cadastro" > Cadastro </a> 
        </nav>

        <p class="contato"> Contato: (18) 99139-1404</p>
        <p class="email"> Email: contato@bigbank.com.br</p>
        

    </footer>


</body>
</html>