<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../static/css/index.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BigBANK</title>
</head>

<body>



    <div class="cabecalho">

        <div class="logo">
            <h2 class="nome-logo"> BIGBANK </h2>
            <img class="porquinho-logo" src="../static/img/logo-porquinho.png" alt=" Logo do Site ">
        </div>

        <nav>
            <a href="/" class="home"> Home </a>
            <a href="/inicial_usuario" class="transferencias"> Transferencias </a>
            <a href="/abrir_login" class="login"> Login </a>
            <a href="/cadastro" class="cadastro"> Cadastro </a>
        </nav>
    </div>

    <div class="banner">

        <h3> Seu Futuro Em Ordem </h3>
        <p class="subtitulo-banner"> Gerencie suas finanças na BigBank</p>
        <img class="img-banner" src="../static/img/img-banner.png" alt="Imagem do Banner">
    </div>

    <br>
    <br>

    <div class="sobre">

        <div class="text-do-sobre">
            <p class="bigbank-sobre"> BigBank </p>
            <p class="txt-sobre"> A BigBank é focada em auxiliar o controle das receitas pessoais e empresariais dos nossos clientes, oferecendo ferramentas de gestão intuitivas e suporte personalizado para promover uma administração mais eficiente, segura e inteligente dos recursos financeiros. </p>
        </div>


        <img class="img-parte-sobre" src="../static/img/img-sobre.png" alt="">

    </div>


    <div class="objetivo">
        <div class="obj-quadrado">
            <p class="txt-obj"> Nosso principal objetivo é facilitar o seu dia a dia financeiro, proporcionando
            ferramentas e suporte para uma gestão financeira mais organizada e eficaz. </p>
        </div>


        <img class="img-parte-objetivo" src="../static/img/img-objetivo.png" alt="">

    </div>


        <p class="titulo-importancia"> A importancia de ter controle de suas finanças </p>

    <section class="importancia">

        <div>
            <p class="txt1-importancia"> Com o BigBank, é possível controlar gastos, planejar orçamentos, evitar dívidas,
            identificar as melhores fontes de renda e tomar decisões financeiras mais conscientes, tanto pessoalmente
            quanto em negócios. </p>
            <img src="../static/img/img1-importancia.png" alt="">
        </div>


         <div>
            <p class="txt2-importancia"> Ao manter um registro detalhado e atualizado, você tem mais segurança econômica,
            previsão de imprevistos e garantir uma base sólida para alcançar metas financeiras. </p>
            <img src="../static/img/img2-importancia.png" alt="">
         </div>


    </section>


    <div class="botao-final">

        <nav>
            <a href=""> Cadastre-se </a>
        </nav>

    </div>

    <footer class="rodape">


        <h2 class="nome-logo"> BIGBANK </h2>

        <nav class="rodape-nav">
            <a href="/" class="home" > Home </a>
            <a href="/perfil" class="transferencias" > Transferencias </a>
            <a href="/login" class="login" > Login </a>
            <a href="/cadastro" class="cadastro" > Cadastro </a>
        </nav>

        <p class="contato"> Contato: (18) 99139-1404</p>
        <p class="email"> Email: contato@bigbank.com.br </p>

    </footer>


</body>

</html>
