<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="static/css/index.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BigBANK</title>
</head>

<body>


    <div class="cabecalho">

        <div class="logo">
            <h2 class="nome-logo"> BIGBANK </h2>
            <img class="porquinho-logo" src="static/img/logo.png" alt=" Logo do Site ">
        </div>


        <nav>
            <a href="/home" class="home" > Home </a>
            <a href="/perfil" class="transferencias" > Transferencias </a>
            <a href="/login" class="login" > Login </a>
            <a href="/cadastro" class="cadastro" > Cadastro </a>
        </nav>
    </div>


    <h2>Login</h2>

    <form>
        <input type="text" name="cpf" placeholder="CPF" required><br>
        <input type="password" name="senha" placeholder="Senha" minlength="8" required><br>
        <button class="entrar" type="submit">Entrar</button>
    </form>

        <a class="nao-membro" href="">Não é membro? cadastra-se</a>

    <footer class="rodape">


        <h2 class="nome-logo"> BIGBANK </h2>

        <nav class="rodape-nav">
            <a href="/" class="home" > Home </a>
            <a href="/perfil" class="transferencias" > Transferencias </a>
            <a href="/login" class="login" > Login </a>
            <a href="/cadastro" class="cadastro" > Cadastro </a>
        </nav>

        <p class="contato"> Contato: (18) 99139-1404</p>
        <p class="email"> Email: contato@bigbank.com.br</p>

    </footer>


</body>
</html>