<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../static/css/transferencia.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BigBANK</title>
</head>

<body>



    <div class="cabecalho">

        <div class="logo">
            <h2 class="nome-logo"> BIGBANK </h2>
            <img class="porquinho-logo" src="static/img/logo-porquinho.png" alt=" Logo do Site ">
        </div>


        <nav>
            <a href="/" class="home" > Home </a>
            <a href="/perfil" class="transferencias" > Transferencias </a>
            <a href="/login" class="login" > Login </a>
            <a href="/cadastro" class="cadastro" > Cadastro </a>
        </nav>
    </div>

    <h1>Histórico de transferências </h1>

      {% if transferencias %}
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Valor</th>
                <th>Origem</th>
            </tr>
        </thead>
        <tbody>
            {% for transferencia in transferencias %}
            <tr>
                <td>{{ transferencia.data }}</td>
                <td>R$ {{ "%.2f"|format(transferencia.valor) }}</td>
                <td>{{ transferencia.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Nenhuma transferência realizada ainda.</p>
    {% endif %}
    <button class="add-button">+ Adicionar Transação</button>

    <footer class="rodape">


        <h2 class="nome-logo"> BIGBANK </h2>

        <nav class="rodape-nav">
            <a href="/" class="home" > Home </a>
            <a href="/perfil" class="transferencias" > Transferencias </a>
            <a href="/login" class="login" > Login </a>
            <a href="/cadastro" class="cadastro" > Cadastro </a>
        </nav>

        <p class="contato"> Contato: (18) 99139-1404</p>
        <p class="email"> Email: contato@bigbank.com.br</p>

    </footer>


</body>
</html>

